button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 3px;
}

button.active, button.accordion:hover {
    background-color: blue;
    color: white;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

div.panel.show {
    max-height: 500px;
    transition: max-height 0.7s ease-out;
}

:focus {
    outline: none !important;
}