div.slider {
    position: relative;
}

div.slide {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: fade;
    opacity: 0;
    transition: opacity .5s linear;
}

div.slide.active {
    opacity: 1;
}

div.slide img {
    width: 100%;
}

div.slider a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: all .2s linear;
}

div.slider a:hover {
    color: #888;
}

div.slider a.prev {
    left: 20px;
}

div.slider a.next {
    right: 20px;
}

div.caption {
    position: absolute;
    bottom: 30px;
    text-align: center;
    background: red;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
}

div.dots {
    text-align: center;
    margin-top: 10px;
}

span.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  span.active, .dot:hover {
    background-color: #717171;
  }